<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Détails bankroll</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--   <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" /> -->
  <link th:href="@{css/now-ui-dashboard.css?v=1.5.0}" rel="stylesheet" />
  <link th:href="@{css/style.css}" rel="stylesheet" />
  
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
                 <div th:replace="_components :: sidebar"></div>
  

    <div class="main-panel" id="main-panel">
<!--       Navbar -->
                 <div th:replace="_components :: navbar"></div>


      <div class="panel-header panel-header-sm">
      </div>
      <div class="content backg">
      
      
        <div class="row">
          <div class="col-md-12">
            <div class="card op" style="">
              <div class="card-header">
                <h4 class="card-title"  style="font-weight: bold; color: blue;">Détails bankroll</h4>
<a th:href="@{/add-combi-to-bankroll?id={id}(id=${id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Ajouter combi</button></a>    
</div>
              
              
              <div class="card-body">
 
 <div th:each="c:${combiListAsc}">
<p>
  <button th:text="${c.isCurrent eq true} ? '(En cours) ' + *{c.formatStartDate} : '(Fermé) ' + *{c.formatStartDate}" th:class="${c.isCurrent eq true} ? 'btn btn-warning btn-block text-dark' : 'btn btn-primary btn-block' " type="button" data-toggle="collapse" th:data-target="${'#collapseExample'+c.id}"
 aria-expanded="false" aria-controls="collapseExample" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 ">
  </button>
</p>
<div class="collapse" th:classappend="${show eq c.id} ? show : '' " th:id="${'collapseExample'+c.id}" style="padding-left: 40px; padding-right: 40px;">
    <a th:href="@{/add-horse-racing-bet-to-combi?id={id}(id=${c.id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Ajouter un pari hippique</button></a>
    <a th:href="@{/add-sport-bet-to-combi?id={id}(id=${c.id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Ajouter un pari sportif</button></a>
    <a onclick="confirm('Etes vous sur de vouloir supprimer ce pari ?')" th:href="@{'/delete-combi?id='+${c.id}}"><button class="btn btn-danger" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Supprimer le combi</button></a>
    
               
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="">
                    <tr>
                     <th></th>
                      <th style="font-weight: bold;">N°</th>
                      <th style="font-weight: bold;">Date</th>
                      <th style="font-weight: bold;">Type</th>
                      <th style="font-weight: bold;">Sélection</th>
                      <th style="font-weight: bold;">Mise</th>
                      <th style="font-weight: bold;">Cote</th>
                      <th style="font-weight: bold;">Cote totale</th>
                      <th style="font-weight: bold;">Statut</th>

                    </tr>
                    </thead>
<!--                                        <tfoot> -->
<!-- 											<tr> -->
<!-- 												<th>N°</th> -->
<!-- 												<th>Date</th> -->
<!-- 												<th>Type</th> -->
<!-- 												<th>Sélection</th> -->
<!-- 												<th>Cote</th> -->
<!-- 												<th>Statut</th>												 -->
<!-- 											</tr> -->
<!-- 										</tfoot> -->
                    <tbody>
                                      <tr th:each="bet:${c.betsAsc}">
                                            <td th:if="${bet.field == 'Sport'}" style="padding-left:14px;"><img src="img/football2.png" alt="" border= height=20 width=20></img></td>
                                            <td th:if="${bet.field == 'Hippique'}" style="padding-left:10px;"><img src="img/horse.png" alt="" border= height=30 width=30></img></td>
<!--                                             <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.field}"></td> -->
                                      
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>

                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.formatDate}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.formatDate}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.formatDate}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.ante}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.ante}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.ante}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.currentOddInCombi}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.currentOddInCombi}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.currentOddInCombi}"></td>
                                                                                        
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.status.name}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.status.name}">Perdant</td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark btn-warning" style="font-weight: bold;" th:text="${bet.status.name}">En attente...</td>
                                       
                                            <td> <a class="text-primary" th:href="@{'/edit-bet?id='+${bet.id}}">Modifier</a></td>
                                            <td> <a onclick="confirm('Etes vous sur de vouloir supprimer ce pari ?')" th:href="@{'/delete-bet?id='+${bet.id}}">Supprimer</a></td>
                                       
                                       </tr>
                    </tbody>
                  </table>
                </div>




<!--   <div th:each="b:${c.bets}" class="card card-body" th:classappend ="${b.status.name == 'Gagnant'} ? 'text-white btn-success' : '' " th:style ="${b.status.name == 'Gagnant'} ? 'background-color: ' : '' "> -->
<!--     <div th:utext="b.name"> -->
    
<!--     </div> -->
<!--   </div> -->
</div> 
</div>
<!--  <div class="accordion" id="accordionExample"> -->
<!--   <div class="card"> -->
<!--     <div class="card-header" id="headingOne"> -->
<!--       <h2 class="mb-0"> -->
<!--         <button th:utext="hhhhhh" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
<!--         </button> -->
<!--       </h2> -->
<!--     </div> -->

<!--     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
<!--       <div class="card-body"> -->
<!--         Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class. -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
 
 
 
              </div>
            </div>
          </div>

        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
                    <div th:replace="_components :: footer"></div>

    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="demo/demo.js"></script>
</body>

</html>